// =========== Strippets Main ============
$strippets-min-height: 200px !default;
$strippets-side-padding: 100px !default;
$hoverpad-width: 30px;
$button-width: 50px;
$button-height: 50px;
$button-edge-padding: 5px;

// hoverpad style
$hoverpad-width: 30px !default;
$hoverpad-button-width: 110px !default;
$hoverpad-button-height: 110px !default;

// =========== Strippets Outline ============
$outline-vertical-margin: 10px !default;
$outline-header-height: 32px !default;
$outline-title-height: 40px !default;

// entity container
$footer-space: 5px !default;

// entity
$entity-height: 24px !default;
$entity-padding: 0px !default;
$entity-width: 23px !default;
$entity-height: 24px !default;