.entity {
  height: $entity-height + $entity-padding;
  width: 100%;
  display: table;
  .icon {
    width: $entity-width;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: $entity-height - 8;
  }
  .details {
    font-family: verdana;
    font-size: 9px;
    color: #000000;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    max-width: $entity-width;
    overflow: hidden;
    text-overflow: ellipsis;
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
}
