* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.meta-line {
    list-style: none;
    margin: 0 0 10 0;
    padding: 0;
    overflow: hidden;
}

.meta-line li {
    display: inline;
}

.meta-line li:before {
    content: "•";
}

.meta-line li:first-child:before {
    content: "";
}
