.readerview {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0,0,0, 0.65);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  &.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .center-item-container {
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .reader-container {
    border: 3px solid rgba(0,0,0,0);
    border-right: 0;
    border-left: 0;
    background: #ffffff;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
  }
  .reader-page-button {
    color: #ccc;
    font-size: 36px;
    position: absolute;
    bottom: 50%;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .reader-page-button:hover {
      color: white;
      cursor: pointer;
  }

  .reader-prev-button {
      left: -60px;
  }

  .reader-next-button {
      right: -60px;
  }

  /*==================== Story Style ====================*/
  @import 'strippets.variables';
  @import 'strippets.outline';
  .outlineItemContainer {
    margin: 0;
    height: 100%;
  }
  .outlineItemContainer .outlineItem {
    box-shadow: initial;
    border: none;
  }
  .outlineItemContainer.read .outlineItem {
    margin: 0 !important;
  }
  .entityContainer {
    visibility: hidden;
  }
  .outlineItemContainer.outline-loaded .entityContainer {
    visibility: visible;
  }
}
