@import 'strippets.variables';
.strippets {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;

  /*dev using a gap at the top to make sure positioning behaves properly*/
  margin-top: 0;
  position: relative;
  height: 600px;
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 500;
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .viewport {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f2f2f2;
  }

  //************************* Scrolling and Hoverpad *****************************//
  .hoverpad {
    height: 100%;
    width: $button-width + $hoverpad-width;
    position: absolute;
    top: 0;
    z-index: 100;

    &.left {
      transition: opacity 0.5s ease-out, left 0.25s ease-out;
      left: -$button-width * 1.1;
      position: absolute;
      margin-left: -$button-edge-padding;
      padding-left: $button-edge-padding;
      opacity: 0;
      &:hover {
        opacity: 1;
        left: $button-edge-padding;
      }
      .button {
        width: $button-width;
        height: $button-height;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding-right: $button-width * 0.1;
        border-radius: $button-width;
        color: #ccc;
        font-size: 36px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
    &.right {
      transition: opacity 0.5s ease-out, right 0.25s ease-out;
      right: -$button-width * 1.1;
      position: absolute;
      margin-right: -$button-edge-padding;
      padding-right: $button-edge-padding;
      opacity: 0;
      &:hover {
        opacity: 1;
        right: $button-edge-padding;
      }
      .button {
        left: $hoverpad-width - $button-edge-padding;
        width: $button-width;
        height: $button-height;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding-left: $button-width * 0.1;
        border-radius: $button-width;
        color: #ccc;
        font-size: 36px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  //************************* //Scrolling and Hoverpad *****************************//
  //***************************** Outline Container *********************************//
  .outlineContainer::before {
    display: inline-block;
    width: $strippets-side-padding;
    content: '';
  }
  .outlineContainer::after {
    display: inline-block;
    width: $strippets-side-padding;
    content: '';
  }
  .outlineContainer {
    height: 100%;
    min-height: $strippets-min-height;
    white-space: nowrap;
  }

  @import 'strippets.outline';
}




