body, html {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI',wf_segoe-ui_normal,helvetica,arial,sans-serif;
    font-size: 12px;
}

body {
    overflow: auto;
}

.column-label {
    display: inline-block;
    font-weight: bold;
}

.document {
    margin-bottom: 20px;
}

.contents {
    display: inline-block;
}

.contents.html {
    display: block;
}

.table {
    width: 100%;
}
