# Installed Modules
/node_modules/
/typings/

# Temp Files
.DS_Store
/.scripts
/dump

# IDE / Editors
.vscode
*~

# Build Artifacts
/build/
/dist/
base/*.js
base/*.d.ts
base/spec/*.js
base/spec/*.d.js
src/*.js
src/*.d.ts
