@charset "UTF-8";
#records-panel {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
  margin: 0;
  position: relative;
  overflow: hidden; }
  #records-panel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #records-panel .h1, #records-panel .h2, #records-panel .h3, #records-panel .h4, #records-panel .h5, #records-panel .h6, #records-panel h1, #records-panel h2, #records-panel h3, #records-panel h4, #records-panel h5, #records-panel h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; }
  #records-panel img {
    border: 0;
    vertical-align: middle; }
  #records-panel ol, #records-panel ul {
    margin-top: 0;
    margin-bottom: 10px; }
  #records-panel .meta-line {
    list-style: none;
    margin: 0 0 10 0;
    padding: 0;
    overflow: hidden; }
  #records-panel .meta-line li {
    display: inline; }
  #records-panel .meta-line li:before {
    content: "•"; }
  #records-panel .meta-line li:first-child:before {
    content: ""; }
  #records-panel .records.viewport {
    height: 100%;
    background: #f2f2f2;
    overflow-y: scroll; }
  #records-panel .records-container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  #records-panel .dummyRecord {
    width: 246px;
    height: 0; }
  #records-panel .record {
    max-height: 410px;
    min-height: 200px; }
    #records-panel .record .card {
      background: white;
      margin: 10px 5px;
      height: calc(100% - 10px * 2);
      height: -webkit-calc(100% - 10px * 2);
      width: 236px;
      box-shadow: -1px 0 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 2px 0 4px rgba(0, 0, 0, 0.24);
      position: relative;
      font-size: 0.9286em;
      vertical-align: top;
      overflow: hidden; }
    #records-panel .record .card:after {
      content: "";
      position: absolute;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 85%);
      width: 100%;
      height: 50px;
      bottom: 0; }
    #records-panel .record .card-image {
      max-width: 100%;
      position: relative;
      overflow: hidden;
      text-align: center;
      min-height: 100px;
      cursor: pointer; }
    #records-panel .record .card-image div {
      max-width: 236px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      float: left; }
    #records-panel .record .card-body {
      padding: 8px 16px; }
    #records-panel .record .card-body h1 {
      font-size: 14px;
      margin: 0 0 2px 0;
      cursor: pointer; }
    #records-panel .record .card-body .meta-line {
      font-size: 11px;
      color: #777; }
    #records-panel .record .card-icon {
      height: 28px;
      width: 28px;
      background: #f6f6f6;
      border-radius: 14px;
      position: absolute;
      top: 3px;
      right: 3px;
      padding: 6px;
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: gray;
      filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='saturate' values='0'></feColorMatrix></svg>#greyscale"); }
    #records-panel .record .card-icon img {
      vertical-align: initial;
      width: 100%;
      height: 100%; }
  #records-panel .readerview {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    /*==================== Story Style ====================*/ }
    #records-panel .readerview.open {
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    #records-panel .readerview .center-item-container {
      position: absolute;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    #records-panel .readerview .reader-container {
      border: 3px solid transparent;
      border-right: 0;
      border-left: 0;
      background: #ffffff;
      -moz-background-clip: content;
      -webkit-background-clip: content;
      background-clip: content-box; }
    #records-panel .readerview .reader-page-button {
      color: #ccc;
      font-size: 36px;
      position: absolute;
      bottom: 50%;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      text-align: center; }
    #records-panel .readerview .reader-page-button:hover {
      color: white;
      cursor: pointer; }
    #records-panel .readerview .reader-prev-button {
      left: -60px; }
    #records-panel .readerview .reader-next-button {
      right: -60px; }
    #records-panel .readerview .storyItemContainer {
      white-space: initial;
      margin: 10px 0 10px 0;
      display: inline-block;
      background-color: transparent;
      height: calc(100% - (10px + 1px) * 2);
      height: -webkit-calc(100% - (10px + 1px) * 2);
      height: -moz-calc(100% - (10px + 1px) * 2);
      /***************** Header *****************/
      /****************** Story *****************/
      /************** Reading Mode **************/ }
      #records-panel .readerview .storyItemContainer .storyHeader {
        height: 32px;
        background: #f6f6f6;
        position: relative;
        top: 0;
        left: 0;
        right: 0; }
        #records-panel .readerview .storyItemContainer .storyHeader .sourceIcon {
          height: 32px;
          background-position: right 3px center;
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-color: transparent;
          border-bottom: solid 1px #e9e9e9;
          position: relative;
          z-index: 100;
          /*grayscale for background image*/
          -webkit-filter: grayscale(1);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          filter: gray;
          filter: grayscale(100%);
          filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }
        #records-panel .readerview .storyItemContainer .storyHeader .sourceText {
          width: calc(100% - 32px);
          width: -webkit-calc(100% - 32px);
          position: absolute;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          font-size: 13px;
          line-height: 33px;
          vertical-align: middle;
          height: auto;
          white-space: nowrap;
          margin-left: 16px; }
          #records-panel .readerview .storyItemContainer .storyHeader .sourceText a {
            color: #656565;
            text-decoration: none; }
            #records-panel .readerview .storyItemContainer .storyHeader .sourceText a:hover {
              color: #337ab7; }
      #records-panel .readerview .storyItemContainer .storyItem {
        height: 100%;
        box-shadow: -1px 0 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 2px 0 4px rgba(0, 0, 0, 0.24);
        border: solid 0.5px #e9e9e9;
        background: #ffffff;
        cursor: pointer;
        float: right;
        overflow: hidden;
        position: relative; }
      #records-panel .readerview .storyItemContainer.read .storyItem {
        margin: 0px 5px 0px 5px;
        float: right;
        z-index: 1; }
        #records-panel .readerview .storyItemContainer.read .storyItem .highlightedText {
          background-color: #ffee00; }
        #records-panel .readerview .storyItemContainer.read .storyItem .readingSlider {
          opacity: 0;
          background-color: #aaaaaa;
          border-radius: 5px;
          width: 100%;
          position: absolute;
          transition: opacity 0.5s ease-out; }
        #records-panel .readerview .storyItemContainer.read .storyItem:hover .readingSlider {
          opacity: 0.15; }
      #records-panel .readerview .storyItemContainer.hidden .storyItem {
        cursor: default; }
      #records-panel .readerview .storyItemContainer.minimized .storyHeader .sourceText {
        width: 0; }
    #records-panel .readerview .mainStoryContent {
      float: left;
      height: calc(100% - 32px);
      height: -webkit-calc(100% - 32px); }
      #records-panel .readerview .mainStoryContent .title {
        border-bottom: 1px dotted #E9E7E6;
        width: inherit;
        position: absolute;
        height: 40px; }
        #records-panel .readerview .mainStoryContent .title .centering-container {
          color: #777777;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          font-size: 9px;
          width: auto;
          height: auto;
          max-height: 40px;
          padding-left: 0.3em;
          padding-right: 0.3em;
          transform: translate(0, -1em) translate(0, -50%) translate(0, 20px); }
      #records-panel .readerview .mainStoryContent .entityContainer {
        position: relative;
        top: 0;
        height: calc(100% - 24px - 5px);
        height: -webkit-calc(100% - 24px - 5px); }
    #records-panel .readerview .expand-enabled .mainStoryContent .entityContainer {
      top: 40px;
      height: calc(100% - 40px - 24px - 5px);
      height: -webkit-calc(100% - 40px - 24px - 5px); }
    #records-panel .readerview .entity {
      height: 24px;
      width: 100%;
      display: table; }
      #records-panel .readerview .entity .icon {
        width: 23px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 16px; }
      #records-panel .readerview .entity .details {
        font-family: verdana;
        font-size: 9px;
        color: #000000;
        display: table-cell;
        vertical-align: middle;
        width: auto;
        max-width: 23px;
        overflow: hidden;
        text-overflow: ellipsis; }
        #records-panel .readerview .entity .details .name {
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold; }
    #records-panel .readerview .sidebar {
      float: right;
      width: 24px;
      background: repeating-linear-gradient(-45deg, #E9E7E6, #E9E7E6 10px, #F5F5F5 10px, #F5F5F5 20px);
      height: calc(100% - 32px);
      height: -webkit-calc(100% - 32px); }
      #records-panel .readerview .sidebar .entityContainer {
        position: relative;
        top: 0;
        height: calc(100% - 24px - 5px);
        height: -webkit-calc(100% - 24px - 5px); }
    #records-panel .readerview .expand-enabled .sidebar .entityContainer {
      top: 40px;
      height: calc(100% - 40px - 24px - 5px);
      height: -webkit-calc(100% - 40px - 24px - 5px); }
    #records-panel .readerview .entity {
      height: 24px;
      width: 100%;
      display: table; }
      #records-panel .readerview .entity .icon {
        width: 23px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 16px; }
      #records-panel .readerview .entity .details {
        font-family: verdana;
        font-size: 9px;
        color: #000000;
        display: table-cell;
        vertical-align: middle;
        width: auto;
        max-width: 23px;
        overflow: hidden;
        text-overflow: ellipsis; }
        #records-panel .readerview .entity .details .name {
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold; }
    #records-panel .readerview .reader {
      background-color: #ffffff;
      font-size: 0.93em;
      height: calc(100% - 32px);
      height: -webkit-calc(100% - 32px);
      overflow: hidden;
      float: left; }
      #records-panel .readerview .reader a {
        text-decoration: none;
        color: #000000; }
      #records-panel .readerview .reader a:hover {
        text-decoration: none;
        color: #0081ff; }
      #records-panel .readerview .reader .readerContent {
        overflow-y: auto;
        overflow-x: hidden; }
      #records-panel .readerview .reader .readerContentBody {
        padding: 8px 16px 8px 16px;
        color: #333; }
        #records-panel .readerview .reader .readerContentBody h1 {
          font-size: 1.5em;
          margin: 0 0 2px 0; }
        #records-panel .readerview .reader .readerContentBody p {
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 18px; }
        #records-panel .readerview .reader .readerContentBody p a, #records-panel .readerview .reader .readerContentBody .content a {
          border-bottom: dotted 1px #999; }
        #records-panel .readerview .reader .readerContentBody .figure, #records-panel .readerview .reader .readerContentBody figure {
          margin: 0;
          border: solid 1px #e1e1e1;
          box-sizing: border-box;
          max-width: 100%;
          display: inline-block;
          text-align: center;
          padding: 5px; }
        #records-panel .readerview .reader .readerContentBody .figure-content {
          display: table; }
        #records-panel .readerview .reader .readerContentBody .figure img {
          max-width: 200px;
          max-height: 200px;
          padding-bottom: 5px; }
        #records-panel .readerview .reader .readerContentBody .figcaption {
          font-size: 12px;
          display: table-caption;
          caption-side: bottom; }
        #records-panel .readerview .reader .readerContentBody .meta-line {
          margin-bottom: 10px;
          margin-top: 0px;
          list-style: none;
          margin: 0 0 10 0;
          padding: 0;
          overflow: hidden; }
        #records-panel .readerview .reader .readerContentBody .meta-line li {
          display: inline; }
        #records-panel .readerview .reader .readerContentBody .meta-line li:before {
          content: "•"; }
        #records-panel .readerview .reader .readerContentBody .meta-line li:first-child:before {
          content: ""; }
        #records-panel .readerview .reader .readerContentBody img {
          max-width: 100%; }
      #records-panel .readerview .reader .readerContentLoading {
        height: 100%; }
        #records-panel .readerview .reader .readerContentLoading .loader:before,
        #records-panel .readerview .reader .readerContentLoading .loader:after,
        #records-panel .readerview .reader .readerContentLoading .loader {
          border-radius: 50%;
          width: 2.5em;
          height: 2.5em;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation: load7 1.8s infinite ease-in-out;
          animation: load7 1.8s infinite ease-in-out; }
        #records-panel .readerview .reader .readerContentLoading .loader {
          font-size: 10px;
          margin: 0 auto;
          position: relative;
          text-indent: -9999em;
          top: calc(50% - 25px);
          top: -webkit-calc(50% - 25px);
          -webkit-transform: translate3D(0, -50%, 0);
          -ms-transform: translate3D(0, -50%, 0);
          transform: translate3D(0, -50%, 0);
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s; }
        #records-panel .readerview .reader .readerContentLoading .loader:before {
          left: -3.5em;
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s; }
        #records-panel .readerview .reader .readerContentLoading .loader:after {
          left: 3.5em; }
        #records-panel .readerview .reader .readerContentLoading .loader:before,
        #records-panel .readerview .reader .readerContentLoading .loader:after {
          content: '';
          position: absolute;
          top: 0; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000000; }
  40% {
    box-shadow: 0 2.5em 0 0 #000000; } }

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000000; }
  40% {
    box-shadow: 0 2.5em 0 0 #000000; } }
      #records-panel .readerview .reader .readerContentError {
        height: 100%; }
        #records-panel .readerview .reader .readerContentError .reader-broken {
          margin: 0 auto;
          width: 200px;
          text-align: center;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%); }
        #records-panel .readerview .reader .readerContentError .reader-broken .emoticon {
          color: #ddd;
          font-size: 64px; }
        #records-panel .readerview .reader .readerContentError .reader-broken .err-info {
          color: #aaa;
          cursor: pointer; }
    #records-panel .readerview .storyItemContainer {
      margin: 0;
      height: 100%; }
    #records-panel .readerview .storyItemContainer .storyItem {
      box-shadow: initial;
      border: none; }
    #records-panel .readerview .storyItemContainer.read .storyItem {
      margin: 0 !important; }
    #records-panel .readerview .entityContainer {
      visibility: hidden; }
    #records-panel .readerview .storyItemContainer.story-loaded .entityContainer {
      visibility: visible; }
