node_modules
.DS_Store
.idea
bamboo/**
coverage/**
dist/**
example/uncharted.thumbnails.dependencies.js
example/uncharted.thumbnails.js
example/thumbnails.css
example/strippets.css
example/font-awesome.min.css
example/fonts/fontawesome-webfont*
example/fonts/FontAwesome.*
