<div class="readerview" tabindex="1">
    <div class="reader-container center-item-container">
    </div>
    <div class="button-container center-item-container">
        <div class="reader-page-button reader-prev-button">
            <i class="fa fa-left fa-chevron-left"></i>
        </div>
        <div class="reader-page-button reader-next-button">
            <i class="fa fa-left fa-chevron-right"></i>
        </div>
    </div>
</div>
