.secondaryFont{
    font-family: $regularSecondaryFontFamily;
}

.secondaryBoldFont{
    font-family: $boldSecondaryFontFamily;
}

.lightFont{
    font-family: $lightFontFamily;
}

.semilightFont {
    font-family: $semilightFontFamily;
}

.regularFont{
    font-family: $regularFontFamily;
}

.semiboldFont{
    font-family: $semiboldFontFamily;
}

.boldFontFamily{
    font-family: $boldFontFamily;
}

.smallFontSize{
    font-size: $smallFontSize;
}

.mediumFontSize{
    font-size: $mediumFontSize;
}

.largeFontSize{
    font-size: $largeFontSize;
}