$font: Helvetica,Arial,Verdana,Geneva,sans-serif;

$lightFontFamily: $font;
$semilightFontFamily: $font;
$regularFontFamily: $font;
$semiboldFontFamily: $font;
$boldFontFamily: $font;

$lightSecondaryFontFamily: $font;
$regularSecondaryFontFamily: $font;
$boldSecondaryFontFamily: $font;

$smallFontSize: 12px;
$mediumFontSize: 14px;
$largeFontSize: 16px;