html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.node {
    cursor: pointer;
}

@keyframes fadein {
  from {
    // right: -300;
    opacity: 0;
  }

  to {
    // right: 0;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.graph-container {
    font-size: 12px;
    position: relative;

    .button-bar {
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        opacity: 0;
        animation-duration: .5s;
        animation-name: fadeout;
    }

    &:hover {
        .button-bar {
            animation-duration: .5s;
            animation-name: fadein;
            opacity: 1;
        }
    }
}



.button-bar ul {
  list-style: none;
//   background-color: #444;
//   text-align: center;
  padding: 0;
  margin: 0;
  color: #aaa;
  height: 2em;
}
.button-bar li {
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #888;

  &:first-of-type a, &:first-of-type input {
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
  }

  &:last-of-type a, &:last-of-type input {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
  }
}

.button-bar a {
  text-decoration: none;
  color: #888;
  display: inline-block;
  transition: .3s color;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: .2em;
  background-color: white;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.clear-selection-button {
   margin: .5em;
}

.clear-selection-button:before {
  content: "\20E0"
}

.button-bar a:hover {
  color: #444;
}

.button-bar a.active {
  background-color: #444;
//   color: #444;
  cursor: default;
}

// @media screen and (min-width: 600px) {
  .button-bar li {
      box-sizing: border-box;
    // width: 120px;
    border-bottom: none;
    // height: 50px;
    // line-height: 50px;
    margin-right: -.25em;
    display: inline-block;
    height: 100%;
    a {
        height: 100%;
    }
  }

  /* Option 1 - Display Inline */
  .button-bar li:last-child {
      margin-right: 0;
  }

  /* Options 2 - Float
  .button-bar li {
    float: left;
  }
  .button-bar ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .button-bar {
    background-color: #444;
  }
  */
// }

.filter-box {
    .search-filter-box {
        vertical-align: middle;
        border: 1px solid #ccc;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
}