@import "../../../base/powerbi/css/main";
@import "./Base";

.value-display {
   background-color: $dataColor1;
}

.item:hover {
    background-color: $neutralTertiaryAltColor;
}

.token {
    background-color: $neutralLightColor;
}