$font: 'Segoe UI,Tahoma,Verdana,Geneva,sans-serif';

$lightFontFamily: 'Segoe UI Light',wf_segoe-ui_light,helvetica,arial,sans-serif;
$semilightFontFamily: 'Segoe UI Semilight',wf_segoe-ui_semilight,helvetica,arial,sans-serif;
$regularFontFamily: 'Segoe UI',wf_segoe-ui_normal,helvetica,arial,sans-serif;
$semiboldFontFamily: 'Segoe UI Semibold',wf_segoe-ui_semibold,helvetica,arial,sans-serif;
$boldFontFamily: 'Segoe UI Bold',wf_segoe-ui_bold,helvetica,arial,sans-serif;

$lightSecondaryFontFamily: $font;
$regularSecondaryFontFamily: wf_standard-font,helvetica,arial,sans-serif;
$boldSecondaryFontFamily: wf_standard-font_bold,helvetica,arial,sans-serif;

$smallFontSize: 12px;
$mediumFontSize: 14px;
$largeFontSize: 16px;

$dataColor1: #01B8AA;
$dataColor2: #374649;
$dataColor3: #FD625E;
$dataColor4: #F2C80F;
$dataColor5: #5F6B6D;
$dataColor6: #8AD4EB;
$dataColor7: #FE9666; // Bethany's Mango
$dataColor8: #A66999;
$dataColor9: #3599B8;
$dataColor10: #DFBFBF;